:root{
    --main-bg-color: #251413;
    --main-text-color: #d64212;
}
body{
    overflow: hidden;
    font-family: 'Yusei Magic', serif;
}





@media (min-width: 1100px){
    body{
        overflow: hidden;
        font-family: 'Yusei Magic', serif;
    }

    html{
        background: url(flower.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .mainCard{
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 900px;
        width: 100%;
        height: 70%;
        background: white;
        border: 1px solid grey;
        max-height: 600px;
        min-height: 500px;
        opacity: 0.9;
        padding: 2%;
    }

    .rugby{
        height: 30em;
        width: 25em;
        position: absolute;
        z-index: -5;
        bottom: 0;
        right: 0;
        border-radius: 50%;
        opacity: 0.5;
        max-height: 500px;
        max-width: 500px;
    }

    .navigationBar{
        display:grid;
        grid-template: repeat(1, 1fr) / repeat(6,1fr);
        background: white;
        border-bottom: 1px solid grey;
    }
    .navTitle{
        display:inline;
        grid-area: 1 / 1 / 1 / 4;
        margin-left: 5%;
    }

    .plexButtons, .buttons{
        margin-left: 4%;
    }

    .navTerminal{
        display: inline;
        margin-right: 4%;
        text-decoration: none;
        color: black;
    }

    .navContact{
        display:inline;
        text-decoration: none;
        color: black;
        margin-right: 4%;
    }

    .navWishlist{
        display:inline;
        text-decoration: none;
        color: black;
        margin-right: 4%;
    }

    .navTerminal:hover{
        color: grey;
    }

    .navContact:hover{
        color: grey;
    }

    .navWishlist:hover{
        color: grey;
    }

    .navItems{
        display:inline-block;
        grid-area: 1 / 4 / 1 / 7;
        align-self: center;
        margin-left: 40%;
    }

    .mainClass{
        display: grid;
    }


    .introTitle{
    text-align: center;
    }

    .introDesc{
        text-align: center;
    }

    .plexServer{
        display: inline-flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        border: 1px solid black;
        grid-area: 2 / 3 / 4 / 5;
        padding: 5%;
        font-family: 'Roboto', sans-serif;
        opacity: 1;
        border-radius: 10%;
    }


    .introduction{
        grid-area: 1 / 1 / 7 / 7;
    }

    .logo-title{
    display: flex;
    }

    .torrent-logo-title{
        display: flex;
    }
    
    .plexButtons, .buttons{
        margin-top: 12px; 
    }

    .buttonDetails{
        text-decoration: none;
    }

    .torrentServer{
        display: inline-flex; 
        flex-direction: column;
        flex-wrap: nowrap;
        background: #928686;
        border: 1px solid black;
        grid-area: 2 / 1 / 4 / 3;
        padding: 5%;
        margin-right: 2%;
        font-family: 'Roboto', sans-serif;
        opacity: 1;
        border-radius: 10%;
    }

    .mainClass{
        grid-template: repeat(6, 1fr) / repeat(6,1fr);
    }

    .plexServer, .torrentServer {
        background: white;
    }

    .popuptext{
        z-index: 6;
        display: inline;
        height: 47%;
        width: 30%;
        position: absolute;
        visibility: hidden;
        border: 1px solid grey;
        background: #ddc9c9; 
        border: 1px solid black;
        font-family: 'Roboto', sans-serif;
        opacity: 1;
        top: 45%;
        right: 66%;
    }

    .popuptext p {
        padding-top: 5px;
        margin: 20px;
    }

    #torrentCloseButton{
        position: absolute;
        display: inline;
        top: 0;
        right:0;
    }

    .plexpopuptext{
        z-index: 6;
        display: inline;
        height: 47%;
        width: 30%;
        position: absolute;
        visibility: hidden;
        border: 1px solid grey;
        background: #ddc9c9; 
        border: 1px solid black;
        font-family: 'Roboto', sans-serif;
        opacity: 1;
    
    }

    .plexpopuptext p {
        padding-top: 5px;
        margin: 20px;
    }

    #plexCloseButton{
        position: absolute;
        display: inline;
        top: 0;
        right:0;
    }
}