body{
    background: #d6d6d3;
    max-width: 900px;
    width: 100%;
    border: 2px solid red;
    margin:auto;
}

.navigationBar{
    display:grid;
    grid-template: repeat(1, 1fr) / repeat(6,1fr);
    background:white;
}
.navTitle{

}

.navTerminal{

}

.navContact{
    
}